html {
    background-color: var(--color-page);
    background-image: url(/assets/images/blackline.png) ;
    background-color: rgba(228,216,202,0.8);
    background-blend-mode: lighten;
    background-size: 55%;

}
/*VIDEO */
.video_container {
    position:relative;
    text-align: center;
    padding-bottom: 80px;
    padding-top:50px;
    max-width: 100rem;
    margin: 0 auto;
}
.presentation {
    border:10px solid var(--color-border);
    max-width:100%;

}

/**HEADER**/
header {
  background-color: var(--color-background);
}
nav>ul {
  list-style: none;
  padding: 0;
}
/* logo */
.header__img {
  width: 10rem;
}
.header__logo {
  width: 100%;
}
.header__nav{
  text-align: right;
  /* align-self: center; */
}
/* bande de nav */
.header_container {
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  max-width: 100rem;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.title h1 {
  margin-top: 0;
}
.title p {
  padding-bottom: 5rem;
}
/* menu hamburger */
.nav__control:before{
  background-image:url(../../images/ico-fermer.svg);
  display: inline-block;
  content:"";
  width:1em;
  height:1em;
  /* compléter pour afficher l’icône X */
  }
  .nav--closed .nav__control:before{
  /* compléter pour afficher l’icône Hamburger */
  background-image: url(../../images/ico-menu.svg);
  content: "";
  width: 1em;
  height: 1em;
  }
/* Bouton du menu */
.nav__span {
  padding-left: 1.2rem;
}
.nav__control {
  background-color: var(--color-nav);
  color: var(--color-texte);
  border: none;
  padding: 10px;
  min-width: 40px;
}

@media (min-width: 700px) {
  .nav__control {
      display: none;
  }
}

.nav__control:hover,
.nav__control:active {
  color: #fff;
}

.nav__control:focus {
  /* En mettant la règle outline: none;, les styles du navigateur
   * pour les éléments en cours de focus sont effacés. Il faut alors
   * les remplacer par d'autres styles qui peuvent être plus
   * en accord avec la direction visuelle du projet.
   */
  outline: none;
  /* AUTRES STYLES EN REMPLACEMENT DU OUTLINE */
  /*
   * Les règles outline-offset et outline permettent
   * de modifier l'apparence du outline par défaut des navigateurs.
   */
  outline-offset: -5px;
  outline:var(--color-Y) auto 5px;
}


.nav__control:before {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  /* compléter pour afficher l’icône X */
}
/* Liste du menu */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: none;
}

@media (min-width: 700px) {
  .nav__list-item {
      display: inline-block;
      background-color: var(--color-nav);
  }
}

/* Liens du menu */
.nav__link {
  display: block;
  padding: 5px 10px;
  width: 100%;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  color: var(--color-Y);
}

.nav__link:active {
  color: var(--color-Y);
}


.nav__link:focus {
  outline-offset: -5px;
  outline: var(--color-Y) auto 5px;
}

/** Une classe nav__link--active
  sert à définir un état différent
  pour l'item de menu actif
  **/
.nav__link--active {
  border-left: 5px solid var(--color-Y);
}

@media (min-width: 700px) {
  .nav__link--active {
      border-left: none;
      border-bottom: 5px solid var(--color-Y);
  }
}


/* L'ajout par JavaScript de la classe .js
* permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
* De cette façon,
*** en l'absence de JavaScript le menu restera visible et accessible
*** en présence de JavaScript le menu est caché
*/
@media (max-width: 699px) {
  .js .nav__list {
      max-height: 100vh;
      overflow: hidden;
      transition: max-height 2s;
  }

  .js .nav--closed .nav__list {
      max-height: 0;
      transition: max-height 0.5s;
  }
}

/*FOOTER*/
footer {
  background-color: var(--color-background);
  text-align: center;
 
}
/*Marges pour les paragraphes du footer*/
.footer__paragraphe1{
margin-left:30px;
margin-right: 30px;
max-width: 100rem;
margin: 0 auto;
}
.footer__paragraphe2{
  margin-left:30px;
  margin-right: 30px;
  max-width: 100rem;
  margin: 0 auto;
}
.footer__paragraphe3{
  margin-left:30px;
  margin-right: 30px;
  max-width: 100rem;
  margin: 0 auto;
  padding-bottom: 20px;
}
.footer__nav ul{
display:flex;
flex-direction: column;
text-align: center;
list-style: none;
max-width: 100rem;
margin: 0 auto;
padding-top: 20px;
}
a {
  color: var(--color-border);
  max-width: 100rem;
  margin: 0 auto;
}
/*Réseaux sociaux*/
.facebook,
.instagram,
.X
{
  width:25px;
  height:25px;
  margin-left:30px;
  margin-right:30px;
}
.youtube {
  width:35px;
  height: 26px;
  
  
}
/*Requête média*/
@media (min-width:600px) {
  footer {
      background-color: var(--color-background);
      text-align: center;
     
  }
  
  .footer__nav ul {
      display:flex;
      flex-direction: row;
      text-align: match-parent;
      justify-content: space-evenly;
      list-style: none;
      max-width: 100rem;
      margin: 0 auto;
      ;
  }
}


/*TEXTE ET IMAGE INFORMATIVES */
@media (min-width:600px) {
    .section_intro{
    position:relative;
    display: flex;
      align-items: center;
      justify-content: space-between;
      padding:40px;
      max-width: 100rem;
    margin: 0 auto;
    
    }
    .intro_image img {
    max-width: 100%;
      height: auto;
      border: 8px solid black;
    }
    .intro_text {
        max-width: 50%;
      padding-left: 40px;
      color: #4c2e1a;
      font-size: 18px;
      line-height: 1.6;
    }
}
.paragraphe_btn {
  text-align: center;
  color: #4c2e1a;
}
.btn_chasse {
  padding:10px;
  margin:0;
}
.btn_accueil {
  text-align: center;
}
.btn_chasse {
  border-radius: 10px;
  font-family: abril fatface, sans-serif;
  background-color: var(--color-btn);
  color: #E4D8CA;
}

