.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* parent */
.content__piger_chasse_liste {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 0 auto;
   
}
@media(min-width:800px){
    .content__piger_chasse_liste {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.__parent_personnage{
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: 2px solid var(--color-border);
    background-color: var(--color-nav);
    width: 110%;

}
.__parent_personnage figure {
    margin: 0rem;
}
/* button */
.btn_piger {
    width: 36rem;
    margin: 1rem 0rem;
}
@media(min-width:700px){
    .btn_piger{
        width: 70rem;
    }
}
@media(min-width:1000px){
    .btn_piger{
        width: 100rem;
    }
}
.btnDemarrerNouvelleChasse {
    margin:10px;
    padding:10px;
    background-color: var(--color-btn);
    color:var(--color-page);
    font-family: abril fatface, sans-serif;
    border-radius: 10px;
    transition: transform 0.3s ease;

}
.btnDemarrerNouvelleChasse:hover {
    transform: scale(1.1); 
}
.btn_chasse {
    margin:10px;
    padding:10px;
    transition: transform 0.3s ease;
}
.btn_chasse:hover {
    transform: scale(1.1); 
}

figure img {
    border-radius: 20px;
    
}

.messageEtatChasse {
    font-size: 2.4rem;
}

.style-trouve {
    background-color: rgb(133, 192, 133);
    border-color: green;
}