.image_personnage{
    display: flex;
    flex-direction: column;
 margin-left: 0%;


}
.personnage__img {
    position: relative;
    margin: 0 auto;
    width: 195px;
    height: 169px ;
    height: 100%;
    overflow: hidden;
}
.personnage__img figcaption {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
}

.personnage__figure {
    margin: 2%;
    width: 100px;
}

@media (min-width: 800px) {
    .personnage__figure {
        width:100%;
        margin: calc(100% / 3 + 1vw);
    }
}