.image_personnage{
    display: flex;
    flex-direction: column;
    align-self: center;




}
.personnage_img{
  
    border: 10px solid var("#A64E20");
}

.personnage_img figcaption{
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    
   
}


/*media*/


@media (min-width: 530px ) { 
   .image_personnage {
    flex-direction: row;
    flex-wrap: wrap;
   }

}
@media (min-width:530px) {
    .personnage_figure {
        margin:1%;
        width:48%;

    }
}

@media (min-width:800px) {
  .personnage_figure {
    width: 31.3334%;
    margin: calc(100%/3 + 1vw);
    justify-self: center;
  }

}