

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-page);
    padding-left:20px;
    text-align: center;
    text-justify: center;
        margin-left: 10px;
    margin-right: 10px;

}
.picture_bio {

    object-fit: cover;
    border: 10px solid var("#A64E20");
    max-width: 405px;
    min-width: 242px;
    
    
}
.epigraphes_personnage{
     width: 100%;
     min-width:200px;
     max-width: 400px;

    
     

}
.map_localisation{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var("#A64E20");
    min-width: 50%;
    max-width: 510px;
    align-self:center;
}
.bouton_soumettre_personnage{
    
    margin:10px;
    padding:10px;
    background-color: var(--color-btn);
    color:var(--color-page);
    font-family: abril fatface, sans-serif;
    border-radius: 10px;
    
}
.zone_soumettre_personnage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fieldset_special{ 

    border: 2px solid var(--color-btn);
    border-radius: 10px;
    margin: 100px;
    background-color: var(--color-page);
    height: 100%;
    
    

   
}

.bouton_soumettre_personnage{
    align-self: center;
}
    .soumettre_reponse_type{
    font-family: abril fatface, sans-serif;
    color: var(--color-btn);
    text-align: center;
    top: 30px;
}
@media (max-width: 1400px) {
    .soumettre_reponse_type{

     font-size:15px;

}
}   

@media (max-width: 675px) and (min-width: 509px) {
    .soumettre_reponse_type{
        font-size:15px;
    }
}
@media (max-width: 508px) and (min-width: 10px) {
    .soumettre_reponse_type{
        font-size:11px;
        
    }
}
li{
    list-style: none;;
}
input{
    background-color: var(--color-btn);
    color:var(--color-page);
}


@media(max-width: 1400px) {
    input, label{
    font-family:"crimson textes", sans-serif;
    color: var(--color-btn);
    font-size: 15px;

}
}
input, label{
    font-family:"crimson textes", sans-serif;
    color: var(--color-btn);
    font-size: 15px;

}
li{
    
    align-self: center;
}
  

@media (max-width: 675px) and (min-width: 509px) {
    p, paragraphe_epigraphe{
        font-size:15px;
        margin: 10px;
    }
}
@media (max-width: 508px) and (min-width: 10px) {
    p, paragraphe_epigraphe{
        font-size:11px;
        margin: 10px;
        
    }
}

@media (max-width: 675px) and (min-width: 509px) {
    .soumettre_reponse_type{
        font-size:15px;
    }
}
@media (max-width: 508px) and (min-width: 10px) {
    .soumettre_reponse_type{
        font-size:11px;
        
    }
}
h1{
    font-family:"crimson textes", sans-serif;
    color: var(--color-btn);
    text-align: center;
   
}
h2{
    font-family: abril fatface, sans-serif;
    color: var(--color-btn);
    text-align: center;
}
@media (max-width: 675px) and (min-width: 320px) {
    .fieldset_special{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.notes_biographiques {
    color: var(--color-btn);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
}

@media (max-width: 320px) {
    .notes_biographiques {
        font-size: 12px !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
        text-align: center !important;
    }
}