/* Imports */
/** Typos **/
@import url(../normalize_typo_utilitaires/typo.css);
/** Normalize **/
@import url(../normalize_typo_utilitaires/normalize.css);
/** Utilitaires **/
@import url(../normalize_typo_utilitaires/utilitaires.css);
/** Header **/
@import url(../footer_header/header.css);
/** Footer **/
@import url(../footer_header/footer.css);
/** Accueil CSS**/
@import url(../page_CSS/accueil.css);
/* main */
main {
    max-width: 1000px;
    margin: 0 auto;
}
.image_personnage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.personnage__figure {
    width: calc(100%/3);
    max-width: 300px;
    margin: 0;
}
.personnage__figure img {
    max-width: 300px;
}