/* Imports */
/** Typos **/
@import url(../normalize_typo_utilitaires/typo.css);
/** Normalize **/
@import url(../normalize_typo_utilitaires/normalize.css);
/** Utilitaires **/
@import url(../normalize_typo_utilitaires/utilitaires.css);

/** Accueil CSS**/
@import url(../page_CSS/accueil.css);
/** Chasse **/
@import url(../page_CSS/chasse.css);
/** Galerie **/
@import url(../page_CSS/galerie.css);
/* main */

main {
    padding-left: 50px;
    padding-right:50px;
}
@media(min-width:700px){
    main {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.contour {
    border: 10px solid var(--color-border);
    padding: 1rem;
}